.item-container{
    padding: var(--padding);
    width: 100%;
}
.item-container > .image{
    width: 100%;
    display: flex;
    gap: 10px;

    overflow-y: hidden;
    overflow-x: auto;
}
.item-container > .image > *{
    width: 150px;
    aspect-ratio: 3/4;
    border: 1px solid #ccc;
}
.item-container > .image > span > span{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    font-size: 70px;
    cursor: pointer;
}
.item-container > .image > span > span:hover{
    background: #f0f0f0;
}

/* item stylesheet */
.size-group {
    display: flex;
    gap: 1rem;
}

.checkbox-button {
    display: inline-block;
    position: relative;

}

.checkbox-button input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkbox-button label {
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid var(--primary);
    border-radius: 0;
    background-color: #fff;
    color: #333;
    cursor: pointer;
    transition: all;
}

.checkbox-button input[type="checkbox"]:checked + label {
    background-color: var(--primary);
    color: var(--text-surface);
}

.checkbox-button input[type="checkbox"]:checked:hover + label {
    background-color: var(--primary);
    color: var(--text-surface);
}
.no-line-height{
    line-height: 0;
    margin-top: var(--padding-inner);
}
.description-container{
    display: flex;
    flex-direction: column;
    /* gap: 1rem; */

    width: 100%;
}
.description-container span{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

textarea, input {
    resize: none;
    overflow: hidden;

    border: 1px solid var(--primary);
    text-indent: 1rem;

    color: inherit;
}

/* Hide spin buttons for input type number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}input[type=number]{
    -moz-appearance: textfield;
    appearance: textfield;
}

/* prevents whole body from overflowing */
.overflow, main{
    overflow: hidden;
}