.container{
    justify-content: center;
    align-items: center;
}
.login-container, .login-container > form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: min(95%, 400px);
    padding-block: 2rem;

    gap: 1rem;
}
.login-container > *, .login-container > form > *{
    width: calc(100% - var(--padding-inner));
    box-sizing: border-box;
    border: none;
}
.login-container input{
    text-indent: 10px;
    color: var(--text);
    font-family: inherit;
}