.products{
    border-bottom: 1px solid var(--primary);
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-wrap: wrap;
    max-width: max-content;

    gap: 5px 20px;
    padding: var(--padding);
}
.products > img {
    width: 7rem;
    aspect-ratio: 1 !important;
    object-fit: cover;
    content-visibility: auto;
}

.products div:last-child{
    display: flex;
    gap: 1rem;
}
.products div:nth-child(3){
    max-width: 700px;
    
}

.products div:nth-child(2){
    font-weight: 500;
    font-size: 1rem;
}

.products-container{
    border: 1px solid var(--primary);
    border-bottom: none;
    max-width: 1300px;
}

/* prevents whole body from overflowing */
.overflow, main{
    overflow: hidden;
}