dialog[open] {
    display: flex;
    flex-direction: column;
}

dialog > form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
dialog > form > *{
    display: flex;
    gap: 1rem;
}
dialog > form > * > *{
    flex: 1;
}

dialog > form > span > input{
    flex: 1;
}

/* Global styles */
.overflow, main {
    overflow: hidden;
}

/* Products container */
.products-container {
    border: 1px solid var(--primary);
    border-bottom: none;
    max-width: 1300px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* Individual product card */
.products {
    border-bottom: 1px solid var(--primary);
    display: flex;
    gap: 15px;
    padding: var(--padding);
    align-items: flex-start;
}

/* Product image */
.products > img {
    width: 100%;
    max-width: 7rem;
    aspect-ratio: 1;
    object-fit: cover;
    content-visibility: auto;
}

.products section{
    display: grid;
    grid-template-rows: max-content max-content;
    grid-template-columns: 1fr 1fr;
}

/* .products #details{} */
.products #buttons{
    display: flex;
    gap: 1rem;
}
.products #stock{
    grid-column: 1 / span 2;

    gap: 1rem;
    display: flex;
    flex-wrap: wrap;
}

.products #details > span{
    margin: 0;
    line-height: 1rem;
}
.products #buttons > button{
    min-width: max-content;
    height: max-content;

    flex: 1;
}
.products #stock > b{
    font-size: 1rem;
    border: 1px solid var(--primary);
    padding: .5rem;
    line-height: 1.5rem;

    min-width: max-content;
}

@media screen and (max-width: 600px) {
    .products{
        flex-wrap: wrap;
    }
    .products section{
        grid-template-rows: 1fr max-content max-content;
        grid-template-columns: 1fr;

        gap: 1rem;

        width: 100%;
    }

    /* .products #details{} */
    .products #buttons{
        grid-row: 3;
    }
    .products #stock{
        grid-column: 1;
        grid-row: 2;
    }
}