h1, p{
    text-align: center;
}
img{
    width: 100%;
    height: 70vh;
    object-fit: cover;
}

.present-card{
    position: relative;
    padding: var(--padding);
}
.present-card > div{
    position: relative;
    margin: 20px;
    padding: var(--padding);
    top: -80px;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.present-card > img {
    height: 100%;
    width: 100%;
}
