.size-group {
    display: flex;
    gap: 1rem;
}

.radio-button {
    display: inline-block;
    position: relative;

}

.radio-button input[type="radio"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.radio-button label {
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid var(--primary);
    border-radius: 0;
    background-color: #fff;
    color: #333;
    cursor: pointer;
    transition: all;
}

.radio-button input[type="radio"]:checked + label {
    background-color: var(--primary);
    color: var(--text-surface);
}

.radio-button input[type="radio"]:hover + label {
    background-color: var(--primary);
    color: var(--text-surface);
}

.radio-button input[type="radio"]:checked:hover + label {
    background-color: var(--primary);
    color: var(--text-surface);
}
.no-line-height{
    line-height: 0;
}
.description-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;

    width: calc(100% - var(--padding-inner));
    max-width: 500px;
}
.description-container span{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}


@media screen and (min-width: 800px) {
    main > div{
        display: space-between;
        flex-direction: row !important;
        gap: 2rem;
    
        align-items: flex-start !important;
        justify-content: center !important;
        padding: var(--padding);
        padding-top: var(--padding-inner);
        box-sizing: border-box;
    }
}