:root{
    --primary: #9A9A9A;
    --text-heading: #5F5F5F;
    --text: #6A6A6A;
    --text-surface-heading: #FFF;
    --text-surface: #DDD;
    --background: #FFF;

    --padding: 15px;
    --padding-inner: 50px;
}
* {
    font-family: "Montserrat", sans-serif;
    font-size: 0.9rem;
    /* font-optical-sizing: auto; */
    /* font-weight: <weight>; */
    font-style: normal;
    line-height: 2.7rem;

    outline: none;
}
html, body, .overflow {
    margin: 0;
    width: 100%;
    height: 100% !important;

    display: flex;
    flex-direction: column;
    align-items: strech-content;

    background-color: var(--background);
    color: var(--text);

    overflow-x: hidden;
}
.overflow{ background-color: var(--primary);}         
main{ background-color: var(--background);}         
h1, h2, h3, h4 {
    font-weight: 400;
    color: var(--text-heading);
}
h1 {
    font-size: 1.5rem;
} h4 {
    font-size: 1.1rem;
}

.surface h1, .surface h2, .surface h3 {
    color: var(--text-surface-heading);
}
.surface, .button-primary {
    background-color: var(--primary);
    color: var(--text-surface);
    border: none;
}
.button-secondary{
    background-color: var(--text-surface-heading);
    color: var(--text);
    border: 1px solid var(--primary);
}
.button-primary, .button-secondary{
    padding: 5px;
    padding-inline: 25px;
    font-size: 1.05rem;
}

button:hover{
    opacity: .6;
}

header{
    display: flex;
    flex-direction: column;

    align-items: center;
}
header > ul {
    list-style-type: none;
    padding: 0;

    display: flex;
    flex-direction: row;
    min-width: clamp(10px, 100%, 600px);
    justify-content: space-around;
}

main{
    flex: 1 0 auto;
    display: flex;

    flex-direction: column;

    align-items: center;
    overflow-x: scroll;
    width: 100%;
}

footer{
    display: flex;
    justify-content: center;
}
footer > div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    max-width: 1000px;
    width: 100%;
}
footer > div > .policies > ul {
    padding: 0;
    list-style-type: none;
}
.product-card {
    width: minmax(15rem, 250px);
    aspect-ratio: 2/3;

    display: flex;
    flex-direction: column;
    gap: 0;

    margin-bottom: 1rem;
    box-sizing: border-box;
}
.product-card > img {
    height: 90%;
    width: 100%;
    object-fit: cover;
    object-position: top;
}
.product-card > div {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 0.5rem;
}
.product-card > div > * {
    line-height: 0;
}

.product-container {
    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    grid-auto-rows: auto;
    grid-gap: 5px;

    padding: var(--padding);
    padding-block: 30px;

    width: 100%;
    max-width: 1000px;
    box-sizing: border-box;
}
