:root{
    --primary: #9A9A9A;
    --text-heading: #5F5F5F;
    --text: #6A6A6A;
    --text-surface-heading: #FFF;
    --text-surface: #DDD;
    --background: #FFF;

    --padding: 15px;
    --padding-inner: 50px;
}
* {
    font-family: "Montserrat", sans-serif;
    font-size: 0.9rem;
    /* font-optical-sizing: auto; */
    /* font-weight: <weight>; */
    font-style: normal;
    line-height: 2.7rem;

    outline: none;
}
html, body, .overflow {
    margin: 0;
    width: 100%;
    height: 100% !important;

    display: flex;
    flex-direction: column;
    align-items: strech-content;

    background-color: var(--background);
    color: var(--text);

    overflow-x: hidden;
}
.overflow{ background-color: var(--primary);}         
main{ background-color: var(--background);}         
h1, h2, h3, h4 {
    font-weight: 400;
    color: var(--text-heading);
}
h1 {
    font-size: 1.5rem;
}h2 {
    font-size: 1.2rem;
} h4 {
    font-size: 1.1rem;
}

a{
    text-decoration: none;
    color: inherit;
}
a:hover, a:focus{
    text-decoration: underline;
}

.surface h1, .surface h2, .surface h3 {
    color: var(--text-surface-heading);
}
.surface, .button-primary {
    background-color: var(--primary);
    color: var(--text-surface);
    border: 1px solid var(--primary);
}
.button-secondary{
    background-color: var(--text-surface-heading);
    color: var(--text);
    border: 1px solid var(--primary);
}
.button-primary, .button-secondary{
    padding: 5px;
    padding-inline: 25px;
    font-size: 1.05rem;
}

button:hover, input[type="submit"]:hover {
    opacity: .6;
}

select{
    border: 1px solid var(--primary);
    background: none;
    color: inherit;
    padding: var(--padding);

}

input[type="text"], input[type="tel"], textarea {
    text-indent: 1rem;;
}

header{
    display: flex;
    flex-direction: column;

    align-items: center;
}
header > ul {
    list-style-type: none;
    padding: 0;

    display: flex;
    flex-direction: row;
    min-width: clamp(10px, 100%, 600px);
    justify-content: space-around;
}
header > .logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 530px;
    padding-inline: var(--padding);

    box-sizing: border-box;
}
header > .logo input[type="checkbox"]{
    appearance: none;
    position: absolute;
}
header > .logo label{
    display: flex;
    justify-content: center;
    align-items: center;
}
header > .logo img, header > .logo a{
    width: 2.5rem;
    height: 2.5rem;
}

main{
    flex: 1 0 auto;
    display: flex;

    flex-direction: column;

    align-items: center;
    overflow-x: hidden;
    width: 100%;
}

footer{
    display: flex;
    justify-content: center;
}
footer > div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    max-width: 1000px;
    width: 100%;
}
footer > div > .policies > ul, footer > div > .contacts > ul {
    padding: 0;
    list-style-type: none;
}
.product-card {
    width: minmax(15rem, 250px);
    max-width: 250px;
    aspect-ratio: 2/3;

    display: flex;
    flex-direction: column;
    gap: 0;

    margin-bottom: 1rem;
    box-sizing: border-box;
}
.product-card > img {
    height: 90%;
    width: 100%;
    object-fit: cover;
    object-position: top;
}
.product-card > div {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 0.5rem;
}
.product-card > div > * {
    line-height: 0;
}

.product-container {
    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    grid-auto-rows: auto;
    grid-gap: 5px;

    padding: var(--padding);
    padding-block: 30px;

    width: 100%;
    max-width: 1000px;
    box-sizing: border-box;
}

dialog{
    opacity: 0;
    transform: translate(0%, 30px);
}

dialog[open] {
    display: flex;
    border: none;

    animation: fadein 500ms ease forwards;
}

@keyframes fadein{
    0%{
        opacity:0;
        transform: translate(0%, 30px);
    }
    70%{
        opacity: 1;
    }
    100%{
        opacity:1;
        transform: translate(0%, 0%);
    }
}

.hidden, .hidden-swipe {
    opacity: 0;
    transition: all 1s;
}.hidden{
    transform: translateY(20%);
}.hidden-swipe {
    transform: translateX(-50%);
}.show {
    opacity: 1;
    transform: translateY(0);
}

#searchCheckbox:checked ~ #searchContainer{
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}
#searchContainer{
    background-color: var(--primary);
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    
    width: 100%;
    height: 100%;

    display: flex;
    align-items: flex-end;
    justify-content: center;

    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 450ms ease, transform 450ms ease, visibility 450ms;
}
#searchContainer > form{
    margin: var(--padding);
    display: flex;
}
#searchContainer > label{
    position: absolute;
    top: 0;
    right: 0;
    padding: .5rem;
}

@media(prefers-reduced-motion: reduce){
    .hidden, .hidden-swipe {
        transition: none;
    }
}