package layout

templ CommmingSoon() {
    @User() {
        <div class={notFoundContainer()}>
            <h1>Something Beautiful is Coming Soon</h1>
            <p>We’re working hard to bring you an amazing experience. Stay tuned!</p>
        </div>
    }
}