package layout

css notFoundContainer() {
    margin-top: 35vh;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    flex-direction: column;
}

templ NotFound() {
    @User() {
        <div class={notFoundContainer()}>
            <h1>404 NotFound</h1>
            <p>Oops! The page you're looking for doesn't exist.</p>
        </div>
    }
}